@import url(reset.css);
@import url(pokemons.css);
@import url(responsivo.css);
@import url(modal.css);

@font-face {
    font-family: Pokemon;
    src: url(./../fonts/Ketchum.otf);
}

@keyframes showUp {
    to{
        width: 265px;
    }
}

#container {
    max-width: 100vw;
    overflow: hidden;
}

#pageheader {
    background-color: #eaeaea;
    box-sizing: border-box;
    height: 60px;
    padding: 0 10vw;
    border-bottom: 1px solid #bbb;
    filter: drop-shadow(0px 2px 3px #999);
}

#ph__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

#ph__logo {
    height: 40px;
}

#ph__title {
    color: #ffcc01;
    font-size: 2rem;
    font-family: Pokemon;
    -webkit-text-stroke: 1px #3363ae;

    width: 0;
    margin-left: 10px;
}

#containermain {
    padding-top: 40px;
}

#pokemonscontainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#pc__title{
    color: #ffcc01;
    font-size: 64px;
    font-family: Pokemon;
    -webkit-text-stroke: 1px #3363ae;

    text-align: center;
    margin: 0 auto;
    width: 0;
    
    overflow: hidden;
    transition: 3s all ease-in; 
    animation: showUp 2s forwards;
}

#pc__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
}

.pc__pokemon {
    border-radius: 15px;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 3px #666);
    padding: 10px;
}

.pc__pokemon:hover {
    transform: scale(1.05);
}

.pc__card {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.pc__headercontainer {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pc__name {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.pc__id {
    font-size: .8rem;
    font-weight: 700;
}

.pc__types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    row-gap: 10px;
}

.pc__type {
    color: white;
    border-radius: 15px;
    filter: brightness(1) drop-shadow(1px 1px 2px #373737);
    padding: 2px 10px;
    text-align: center;
}

.pc__img {
    background-size: cover;
    background-position: center;
    height: 70px;
    width: 70px;
}

#pc__loadMore {
    background-color: white;
    border: 2px solid #aaaaff;
    border-radius: 15px;
    color: #00aaff;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 40px;
    margin: 40px auto;
}

#pc__loadMore:hover {
    transform: scale(1.1);
    background-color: #00aaff;
    color: white;
}